.Post-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.input {
  margin: auto;
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 15px;
  margin: 30px;
  margin-left: 40%;
}

span {
  font-weight: 600;
  color: rgb(10, 0, 19);
}
