.Post-container {
  display: grid;
  grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
  column-gap: 1rem;
  row-gap: 1rem;
}

.card-element {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-panel {
  margin: auto;
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 15px;
  margin: 30px;
  margin-left: 40%;
}

span {
  font-weight: 600;
  color: rgb(10, 0, 19);
}
