@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body {
  background: #f8f8f8;
} */

html {
  font-size: 80%;
}

label {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 40px;
}

.form-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
