.form-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50vw;
  padding: 0 4rem 2rem 4rem;
}

.form-container input {
  padding: 1rem;
}

.form-container > center > button {
  margin: 2rem 0 0 0;
}

.form-container label {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 40px;
}
