.Post-container {
  display: grid;
  grid-template-columns: 19vw 19vw 19vw 19vw 19vw;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .Post-container {
    grid-template-columns: 90%;
    margin-left: 10%;
  }
}

.card-element {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-panel {
  display: block;
  margin: 2rem auto;
  padding: 0.6rem;
  width: 30%;
  font-size: 1.2rem;
  border-radius: 15px;
}

span {
  font-weight: 600;
  color: rgb(10, 0, 19);
}
