label {
  font-size: x-large;
  font-weight: 400;
  padding-top: 40px;
}

.required {
  color: red;
}

.form-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: 40vw;
}

.auth-form input {
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 15px;
}
.auth-form button {
  padding: 0.7rem 4rem;
  border-radius: 50px;
  font-size: 1.4rem;
}
