.required {
  color: red;
}

.auth-form {
  width: 40vw;
}

.auth-form input {
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 15px;
}
.auth-form button {
  padding: 0.7rem 4rem;
  border-radius: 50px;
  font-size: 1.4rem;
}
