* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.example-of-usage {
  color: red;
}
/* css mentor page  */
.Cards_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
.MentorsCard {
  display: flex;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem 2rem;
  background-color: rgb(238, 238, 238);
  width: fit-content;
  height: fit-content;
}
.MentorsCard .rightSection {
  border: 1px solid rgb(189, 189, 189, 0.4);
  background-color: rgb(169, 199, 204, 0.1);
  box-shadow: 2px 3px 8px rgb(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  display: flex;
  padding: 0.5rem 0.8rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: fit-content;
  margin-left: 1rem;
}
.MentorsCard .rightSection img {
  height: 150px;
  width: 225px;
}
.BTN.ViewDetails {
  background-image: linear-gradient(
    135deg,
    rgb(116, 115, 115),
    rgb(63, 63, 63)
  );
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
  border: 1px solid rgb(139, 139, 139, 0.1);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  margin: 0.2rem 0;
}
.BTN.ViewDetails:hover {
  background-image: linear-gradient(
    135deg,
    rgb(116, 115, 115, 0.9),
    rgb(63, 63, 63, 0.9)
  );
  cursor: pointer;
}
.Mentor__NameSec {
  display: flex;
  justify-content: space-between;
  /* margin-right: 1rem; */
}
.Mentor__NameSec span {
  position: relative;
}
.Linkedin__Icon {
  color: rgb(25, 134, 223);
  position: relative;
  top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.Github__Icon {
  color: rgb(54, 54, 54);
  position: relative;
  top: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.More__Icon {
  color: rgb(0, 0, 0);
  position: relative;
  top: 0.2rem;
}
.More__Icon:hover {
  cursor: pointer;
}
.MoreOptions {
  position: absolute;
  padding: 0.2rem 0.1rem;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.3);
  right: -0.5rem;
  top: 2rem;
  background-color: #fff;
  display: none;
  border-radius: 0.5rem;
  position: absolute;
  list-style: none;
}
.MoreOptions.Show {
  display: Block;
}
.MoreOptions.Show::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0.75rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #fff;
}
.MoreOptions li {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  font-weight: 400;
  padding: 0.02rem 0.5rem 0.1rem;
  margin: 0.1rem;
  text-decoration: none;
}
.MoreOptions li:hover {
  cursor: pointer;
  background-color: rgb(17, 154, 233);
}
.Mentors__Rating {
  font-size: 1rem;
}
.Mentors__Rating .Rating {
  position: relative;
  top: 0.25rem;
  padding-left: 0.2rem;
}
.MentorsCard .mentorskills {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  list-style: none;
}
.MentorsCard .mentorskills .skills {
  white-space: nowrap;
  width: max-content;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  width: min-content;
  border-radius: 0.2rem;
  color: rgb(255, 255, 255);
}
.MentorsCard .mentorskills .skills:nth-child(3n + 1) {
  background-color: rgb(17, 154, 233);
}
.MentorsCard .mentorskills .skills:nth-child(3n + 0) {
  background-color: rgb(57, 192, 192);
}
.MentorsCard .mentorskills .skills:nth-child(3n + 2) {
  background-color: rgb(74, 113, 221);
}
.MentorsCard .mentorCourses {
  width: 300px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  font-size: 1rem;
  list-style: none;
}
.MentorsCard .mentorCourses p {
  display: block;
  font-size: 1.4rem;
}
.MentorsCard .mentorCourses .Course {
  color: #fff;
  width: max-content;
  padding: 0.1rem 0.8rem 0.35rem 0.8rem;
  border-radius: 0.4rem;
  margin: 0.2rem;
}
.MentorsCard .mentorCourses .Course:nth-child(2n + 0) {
  background-color: rgb(138, 138, 138);
}
.MentorsCard .mentorCourses .Course:nth-child(2n + 1) {
  background-color: rgb(65, 60, 60);
}
