.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  width: fit-content;
  margin-left: 40vw;
  padding: 3rem;
}

.form-container > input {
  margin-bottom: 2rem;
  padding: 1rem 3rem 1rem 3rem;
}
